<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "styles/all.min.css">
    <link rel = "stylesheet" href =  "styles/normalize.css">
    <link rel = "stylesheet" href = "styles/posts.css">
    <link rel = "stylesheet" href = "styles/internal_header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800&family=Inter:wght@300;400;500;600;700&family=Rubik:ital,wght@0,300;0,500;0,600;0,700;0,800;0,900;1,400&display=swap" rel = "stylesheet">
    <title>Posts</title>
</head>
<body>
    <div id = "overlay"></div>
    <%- include("internal_header.ejs", {showLink : true, showSearch : true})%>
    <div class = "main">
        <h3>Posts</h3>
        <% if (posts.length > 0) { %>
            <div class = "posts">
                <% for (let i = 0; i < posts.length; i++) { %>
                    <div id = <%= posts[i].id %> class = "post">
                        <div class = "left">
                            <div class = "id">
                                <p><%= i + 1 %></p>
                            </div>
                            <div class = "info">
                                <p class = "title"><%= posts[i].title %></p>
                                <p class = "date"><%= posts[i].postdate %></p>
                            </div>
                        </div>
                        <div class="right">
                            <i class = "fa-regular fa-pen-to-square"></i>
                            <i class = "fa-regular fa-trash-can" onclick = "showDeleteConfirm('<%= posts[i].id %>')"></i>
                            <i class = "fa-solid fa-share-nodes" data-title = '<%= posts[i].title %>' data-content = '<%= posts[i].content %>'></i>
                        </div>
                    </div>
                    <div class = "delete-confirm">
                        <div class = "confrim-icon">
                            <i class="fa-regular fa-circle-question"></i>
                        </div>
                        <p>Are you sure to delete this post?</p>
                        <div>
                            <button type = "submit" id = "confirm-yes">Yes</button>
                            <button type = "submit" onclick = "hideDeleteConfirm('delete-confirm')">No</button>
                        </div>
                        <input type="hidden" id = "to-delete">
                    </div>
                    <div id = "response">
                            <i class="fa-solid fa-circle-check"></i>
                            <span id = "content">Post deleted successfully</span>
                    </div>
                    <div id = "shareForm" class = "share">
                        <div class="head">
                            <h4>Share via</h4>
                            <i class = "fa-solid fa-xmark" onclick = "hideShareConfirm('share')"></i>
                        </div>
                        <div class = "options">
                            <div class = "option">
                                <div class = "icon">
                                    <a id = "copyLink" href = "#"  target = "_blank">
                                        <i class = "fa-solid fa-link" style = "color: #DDDDDD"></i>
                                    </a>
                                </div>
                                <p>Copy link</p>
                            </div>
                            <div class = "option">
                                <div class = "icon">
                                    <a id = "message" href = "#"  target = "_blank">
                                        <i class="fa-solid fa-message" style = "color: #DDDDDD"></i>
                                    </a>
                                </div>
                                <p>Message</p>
                            </div>
                            <div class = "option">
                                <div class = "icon">
                                        <a id = "whatsapp" href = "#"  target = "_blank">
                                            <i class="fa-brands fa-square-whatsapp" style = "color: #60D66A"></i>
                                        </a>
                                </div>
                                <p>WhatsApp</p>
                            </div>
                            <div class = "option">
                                <div class = "icon">
                                    <a id = "telegram" href = "#"  target = "_blank">
                                        <i class="fa-brands fa-telegram" style = "color: #229ED9"></i>
                                    </a>
                                </div>
                                <p>Telegram</p>
                            </div>
                            <div class = "option">
                                <div class = "icon">
                                    <a id = "twitter" href = "#"  target = "_blank">
                                        <i class="fa-brands fa-square-twitter" style = "color: #1D9BF0"></i>
                                    </a>
                                </div>
                                <p>Twitter</p>
                            </div>
                            <div class = "option">
                                <div class = "icon">
                                    <a id = "linkedIn" href = "#"  target = "_blank">
                                        <i class="fa-brands fa-linkedin" style = "color: #0A66C2"></i>
                                    </a>
                                </div>
                                <p>LinkedIn</p>
                            </div>
                        </div>
                    </div>
                <% } %>
           </div>
        <% } else { %>
            <h4>No posts yet</h4>
        <% } %>
    </div>
    <div class = "footer">
        <h3>MyBlog</h3>
        <p>Copyright &copy; for 0xnaif</p>
    </div>
    <script src = "main.js"></script>
</body>
</html>