<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "styles/all.min.css">
    <link rel = "stylesheet" href =  "styles/normalize.css">
    <link rel = "stylesheet" href = "styles/posts.css">
    <link rel = "stylesheet" href = "styles/internal_header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800&family=Inter:wght@300;400;500;600;700&family=Rubik:ital,wght@0,300;0,500;0,600;0,700;0,800;0,900;1,400&display=swap" rel = "stylesheet">
    <title>Posts</title>
</head>
<body>
    <div id = "overlay"></div>
    <%- include("internal_header.ejs", {showLink : true, showSearch : true})%>
    <div class = "main">
        <h3>Posts</h3>
        <% if (posts.length > 0) { %>
            <div class = "posts">
                <% for (let i = 0; i < posts.length; i++) { %>
                    <div id = <%= posts[i].id %> class = "post">
                        <div class = "left">
                            <div class = "id">
                                <p><%= i + 1 %></p>
                            </div>
                            <div class = "info">
                                <p class = "title"><%= posts[i].title %></p>
                                <p class = "date"><%= posts[i].postdate %></p>
                            </div>
                        </div>
                        <div class="right">
                            <i class="fa-regular fa-pen-to-square"></i>
                            <i class = "fa-regular fa-trash-can"></i>
                            <i class="fa-solid fa-share-nodes"></i>
                        </div>
                    </div>
                <% } %>
           </div>
        <% } else { %>
            <h4>No posts yet</h4>
        <% } %>
    </div>
    <div class = "footer">
        <h3>MyBlog</h3>
        <p>Copyright &copy; for 0xnaif</p>
    </div>
    <script src = "main.js"></script>
</body>
</html>